.container {
  width: 284px;
  margin-bottom: 8px;
}

.form {
  min-height: 85px;
  padding: 6px 8px 2px;
}

.styled-text-area {
  resize: none;
  width: 100%;
  overflow: hidden;
  outline: none;
  border: none;
}

.button_container {
  margin-top: 8px;
  display: flex;
  align-items: center;
  margin-left: 8px;
}
