.card {
  margin: .5rem 0;
  padding: .9rem;
  width: calc(100% - .9rem * 2);
  border-radius: .3rem;
  word-wrap: break-word;
  cursor: pointer;
  background-color: #E9EbE8;
  color: #00f;

  -webkit-border-radius: .3rem;
  -moz-border-radius: .3rem;
}

.card_name {}

.cardContainer {
  margin: 0 0 8px 0;
  position: relative;
  max-width: 100%;
  word-wrap: break-word;
}

.cardContainer:hover {
  display: block;
  cursor: pointer;
}

.editButton {
  position: absolute;
  display: none;
  right: 5px;
  top: 5px;
  opacity: 0.5;
}

.editButton:hover {
  opacity: 0.8;
}

.deleteButton {
  position: absolute;
  display: none;
  right: 5px;
  bottom: 5px;
  opacity: 0.5;
}

.CardContainer:hover {
  display: block;
  cursor: pointer;
}

.cardContainer:hover {
   opacity: 0.8;
}
