.flex {
  display: flex;
  flex-direction: column-reverse;
}

.column__container {
  width: 20rem;
  min-width: 15rem;
  margin-right: 1rem;
  background-color: #FFFAFA;

  padding: 0 0.6rem 0.5rem;
  overflow-y: auto;
}

@media screen and (max-width: 900px) {
  .column__container {
    margin-right: 0;
    margin-bottom: 1rem;
    width: 100%;
    flex-direction: column;
  }
}
