.column__container {
  width: 25rem;
  margin-right: 1rem;
  background-color: #FFFAFA;
  
  padding: 0 0.6rem 0.5rem;
  min-width: 12rem;
  overflow-y: auto;
  flex: 1;
}

@media screen and (max-width: 900px) {
  .column__container {
    width: 100%;
    margin-right: 0;
  }
}
