@import "~normalize.css";
/* no var(), because it doesn't supports in many browsers*/

/* generate colors:
blue: #00F;
white: #FCFDFF
light-gray: #FCFDFF
light-blue: #0078D4
*/

.app{
  height: 100vh;
  transition: 0.5s;
  background: #0078d4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(106deg, #0078d4, #1CB5E0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(106deg, #0078d4, #1CB5E0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.text {
  margin: 0;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: #FCFDFF;
}

.name-changer {
  width: calc(100% - 2rem);
  padding: .5rem 1rem;
  border: none;
  color: #00f;
  background-color: #E9EbE8;
  -webkit-box-shadow: inset 0 1px 8px 4px #1CB5E0;
  -moz-box-shadow: inset 0 1px 8px 4px #1CB5E0;
  box-shadow: inset 0 1px 8px 4px #1CB5E0;
}

@media screen and (max-width: 900px) {
  .app {}
}
