/* only for tags */

html {
  background-color: orange;
  box-sizing: border-box;
  transition: all 0.5s ease-in;
}

body {
  margin: 0;
  font-family: 'Baloo Thambi 2', cursive;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}
